body { 
	font-family: 'Roboto', sans-serif;
}

button {
	margin: 5px;
}

#buttonsList {
	margin-bottom: 40px;
}

.col-md-6 {
	width: auto;
	text-align: center;
}

.rating {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}