body { 
	font-family: 'Roboto', sans-serif;
}

.buttonList {
	margin: 5px;
}

#buttonsList {
	margin-bottom: 25px;
}

.col-md-6 {
	width: auto;
	text-align: center;
}

.rating {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

form {
	margin-bottom: 20px;
}

.addButton {
	margin: 0 0 0 0;
}

img {
	box-shadow: 3px 3px 5px #888888;
	cursor: pointer;
	transition: 0.3s;
}

img:hover {
	box-shadow: 5px 5px 7px #888888;
}