body { 
	font-family: 'Roboto', sans-serif;
}

.buttonList {
	margin: 5px;
}

#buttonsList {
	margin-bottom: 25px;
}

.col-md-6 {
	width: auto;
	text-align: center;
}

.rating {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

form {
	margin-bottom: 20px;
}

.addButton {
	margin: 0 0 0 0;
}